*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 20px;
}
.card{
    height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    clip-path: polygon(55% 44%, 100% 0, 100% 20%, 0 91%, 41% 52%, 9% 36%, 0% 80%, 0% 20%);
 

}