@font-face {
    font-family: apple;
    src: url(./sf-pro-text_regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
}
#nav{
    height: 60px;
    width: 100%;
    background-color: rgb(38, 38, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#nav h4{
    color: white;
    font-weight: 400;
}
#center{
    height: 80%;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 50px;
    background-image: url(https://www.apple.com/v/home/ci/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large_2x.jpg);
    background-size: cover;
    background-position: center;
}

#center h1{
    color: white;
    font-size: 60px;
    font-weight: 600;

}
#center h5{
    color: white;
    font-size: 40px;
    font-weight: 300;

}
#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}
#links button{
    background-color: royalblue;
    color: white;
    padding: 15px 24px;
    border-radius: 50px;
    font-weight: 300;
    font-size: 18px;
    border: none;
}
